TelegramChatBot.json
{
  "name": "TelegramChatBot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Rol: eres un agente que ayuda a resolver los problemas del usuario, segun la informacion que se tiene en la herramienta Vacaciones, unicamente, toda informacion que requiera el usuario debe ser consultada alli. No es permitido dar informacion de otras fuentes\n# Instrucciones: \n- Usuario: {{ $('Telegram Trigger1').item.json.message.from.first_name }}.\n- Saluda solo en el primer mensaje, luego sigue la conversación naturalmente.\n- Máximo 150 caracteres por respuesta.\n- Sé motivacional y claro.\n- Responde a: {{ $('Telegram Trigger1').item.json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        288,
        96
      ],
      "id": "2a2544dc-7329-4099-9172-a351c7063ee1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        304
      ],
      "id": "f9cf8fef-bc05-45fa-9d69-8311bbe5943e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "weqHnvBqf26E1NV6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "1050608e-e4d3-46b9-9377-414f1dfd525e",
      "name": "Telegram Trigger1",
      "webhookId": "8529a894-b820-4cce-a38e-28cc52e68ce6",
      "credentials": {
        "telegramApi": {
          "id": "8SkpglaSxK2J3X1f",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        96
      ],
      "id": "4df9d8e2-c6e9-471c-9f84-4f9f1f3808e0",
      "name": "Send a text message",
      "webhookId": "dce63cb8-5b0d-4d3a-bcbb-0fabd34bc9df",
      "credentials": {
        "telegramApi": {
          "id": "8SkpglaSxK2J3X1f",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        304,
        304
      ],
      "id": "ac73d1d7-0395-49f8-9da6-519b4b3f88f5",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "871ztflwi39nJRoN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        800,
        304
      ],
      "id": "fdd0840f-7150-4faf-9c7e-4dab688f0704",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "Q8bnjQrpe9NKknwz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        896,
        384
      ],
      "id": "9b8f9505-242c-48d5-8c73-c29cb22d5b24",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "weqHnvBqf26E1NV6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        432,
        432
      ],
      "id": "5544d075-a9db-4d68-ae94-4a712e7e09b3",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "weqHnvBqf26E1NV6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "description": "Esta herramienta va a dar informacion sobre las vacaciones de los empleados de una empresa"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        448,
        304
      ],
      "id": "7d10082c-0685-4e8b-9f57-4a67505dd462",
      "name": "Vacaciones"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vacaciones",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vacaciones",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vacaciones": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9e281f12-9591-40f0-9bfe-51bc612cc2ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c7713deb50a929242d833f300b9fa095b76f0ee6eac5e741e4b71c7490a124f5"
  },
  "id": "wZQF2WqbaC2ih0dv",
  "tags": []
}