TelegramChatBot.json
{
  "name": "TelegramChatBot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Rol: eres un agente que ayuda a resolver los problemas del usuario. Busca el lado bueno de los problemas y ofrece soluciones.\n# Instrucciones: \n- Usuario: {{ $('Telegram Trigger1').item.json.message.from.first_name }}.\n- Saluda solo en el primer mensaje, luego sigue la conversación naturalmente.\n- Máximo 150 caracteres por respuesta.\n- Sé motivacional y claro.\n- Responde a: {{ $('Telegram Trigger1').item.json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        288,
        96
      ],
      "id": "2a2544dc-7329-4099-9172-a351c7063ee1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        304
      ],
      "id": "f9cf8fef-bc05-45fa-9d69-8311bbe5943e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "weqHnvBqf26E1NV6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "1050608e-e4d3-46b9-9377-414f1dfd525e",
      "name": "Telegram Trigger1",
      "webhookId": "8529a894-b820-4cce-a38e-28cc52e68ce6",
      "credentials": {
        "telegramApi": {
          "id": "8SkpglaSxK2J3X1f",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        96
      ],
      "id": "4df9d8e2-c6e9-471c-9f84-4f9f1f3808e0",
      "name": "Send a text message",
      "webhookId": "dce63cb8-5b0d-4d3a-bcbb-0fabd34bc9df",
      "credentials": {
        "telegramApi": {
          "id": "8SkpglaSxK2J3X1f",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        304,
        304
      ],
      "id": "ac73d1d7-0395-49f8-9da6-519b4b3f88f5",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "871ztflwi39nJRoN",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c15de0c9-2ff0-43ad-9946-53d9bddaff11",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c7713deb50a929242d833f300b9fa095b76f0ee6eac5e741e4b71c7490a124f5"
  },
  "id": "wZQF2WqbaC2ih0dv",
  "tags": []
}